<ion-header translucent>
  <ion-toolbar color="dark">
    <ion-title>TapeLab</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="home-bg">
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center ion-text-center">
      <ion-col size="12">
        <h1 class="app-title">🎬 Bienvenido a TapeLab 🎬</h1>
        <p class="subtitle">Explora, alquila y disfruta del mejor contenido</p>

        <!-- 🕒 Reloj -->
        <div class="reloj">
          <h2>{{ hora }}</h2>
          <p>{{ fecha }}</p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="4">
        <ion-card button routerLink="/videoclub-list" class="keycard">
          <ion-icon name="film-outline"></ion-icon>
          <p>Películas</p>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="4">
        <ion-card button routerLink="/clientes-list" class="keycard">
          <ion-icon name="people-outline"></ion-icon>
          <p>Clientes</p>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="4">
        <ion-card button routerLink="/alquileres-list" class="keycard">
          <ion-icon name="cart-outline"></ion-icon>
          <p>Alquileres</p>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-title size="small" class="ion-text-center">
      © 2025 TapeLab
    </ion-title>
  </ion-toolbar>
</ion-footer>
