.page-bg {
  --background: #000;
  color: #fff;
  font-family: 'Inter', system-ui, -apple-system, Segoe UI, Roboto, 'Helvetica Neue', Arial;
}

ion-toolbar {
  --background: #111;
  color: #fff;
}

ion-item {
  --background: #111;
  color: #fff;
  margin-bottom: 12px;
  border-radius: 10px;
  --highlight-color-focused: #f2c94c;
}

ion-label {
  color: #f2c94c !important;
}

ion-datetime {
  --background: #111;
  color: #fff;
  font-size: 0.95rem;
  border-radius: 8px;
}

/* Compactar tamaño del datetime */
.custom-datetime {
  scale: 0.85;
  margin: auto;
  display: flex;
  justify-content: center;
}

ion-button {
  margin-top: 18px;
  font-weight: 600;
  letter-spacing: 0.5px;
  box-shadow: 0 0 12px rgba(242, 201, 76, 0.4);
}

