<ion-header translucent="true">
  <ion-toolbar color="dark">
    <ion-title>{{ modo === 'crear' ? 'Añadir Alquiler' : 'Editar Alquiler' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding page-bg">

  <!-- Cliente -->
  <ion-item>
    <ion-label position="floating">Cliente</ion-label>
    <ion-select [(ngModel)]="alquiler.clienteId" interface="popover">
      <ion-select-option *ngFor="let c of clientes" [value]="c.id">
        {{ c.nombre }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Película -->
  <ion-item>
    <ion-label position="floating">Película</ion-label>
    <ion-select [(ngModel)]="alquiler.peliculaId" interface="popover">
      <ion-select-option *ngFor="let p of peliculas" [value]="p.id">
        {{ p.titulo }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Fecha inicio -->
  <ion-item>
    <ion-label position="floating">Fecha de inicio</ion-label>
    <ion-datetime
      presentation="date"
      displayFormat="DD/MM/YYYY"
      [(ngModel)]="alquiler.fecha_inicio"
      color="warning"
      class="custom-datetime">
    </ion-datetime>
  </ion-item>

  <!-- Fecha fin -->
  <ion-item>
    <ion-label position="floating">Fecha de fin</ion-label>
    <ion-datetime
      presentation="date"
      displayFormat="DD/MM/YYYY"
      [(ngModel)]="alquiler.fecha_fin"
      color="warning"
      class="custom-datetime">
    </ion-datetime>
  </ion-item>

  <ion-button expand="block" color="warning" (click)="guardar()">
    {{ modo === 'crear' ? 'GUARDAR' : 'ACTUALIZAR' }}
  </ion-button>

</ion-content>

