<ion-header translucent>
  <ion-toolbar color="dark">
    <ion-title>{{ modo === 'crear' ? 'Añadir Película' : 'Editar Película' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding page-bg">
  <ion-item>
    <ion-label position="floating">Título</ion-label>
    <ion-input [(ngModel)]="pelicula.titulo" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Género</ion-label>
    <ion-input [(ngModel)]="pelicula.genero"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Año</ion-label>
    <ion-input type="number" [(ngModel)]="pelicula.anio"></ion-input>
  </ion-item>

  <div class="ion-text-center" style="margin: 1em 0;">
    <ion-button color="warning" (click)="takePhoto()">📷 Cámara</ion-button>
    <ion-button color="medium" (click)="pickImage()">🖼 Galería</ion-button>
  </div>

  <div *ngIf="imagenPreview" class="ion-text-center">
    <img [src]="imagenPreview" style="max-width: 200px; border-radius: 10px;">
  </div>

  <ion-button expand="block" color="warning" (click)="guardar()">Guardar</ion-button>
</ion-content>


